* {
    margin: 0; /* Standardabstand zurücksetzen */
    padding: 0; /* Standardpolsterung zurücksetzen */
    box-sizing: border-box; /* Box-Modell auf border-box setzen */
    text-decoration: none; /* Unterstreichung entfernen */
    border: none; /* Rahmen entfernen */
    outline: none;  /* Umriss entfernen */
    scroll-behavior: smooth; /* Sanftes Scrollen aktivieren */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Schriftart setzen */
}

:root {
    --bg-color: #ac91ff;
    --second-bg-color: #533758;
    --text-color: #000000;
    --main-color: #ffffff;
    --link-color: #00e9ff;
}

html {
    height: 100%; /* Höhe auf 100% setzen */
}

body {
    background-color: var(--bg-color); /* Hintergrundfarbe */
    color: var(--text-color); /* Textfarbe */
    font-size: 16px; /* Schriftgröße */
    line-height: 1.6; /* Zeilenhöhe */
    padding: 20px; /* Innenabstand */
}

.post {
    border: 1px solid #ccc; /* Rahmen um jeden Post */
    padding: 10px; /* Innenabstand */
    margin: 10px 0; /* Abstand zwischen den Posts */
    background-color: #f9f9f9; /* Hintergrundfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
}

.post p {
    margin: 5px 0; /* Abstand zwischen den Zeilen im Post */
}
